In [3]:
import pandas as pd

In [4]:
time_sentences = time_sentences = ["Monday: The doctor's appointment is at 2:45pm.",
                                   "Tuesday: The dentist's appointment is at 11:30 am." 
                                   "Wednesday: At 7:00pm, there is a basketball game!",
                                   "Thursday: Be back home by 11:15 pm at the latest.",
                                   "Friday: Take the train at 08:10 am, arrive at 09:00 am."]

df = pd.DataFrame(time_sentences, columns = ['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Thursday: Be back home by 11:15 pm at the latest.
3  Friday: Take the train at 08:10 am, arrive at ...

In [5]:
df['text'].str.len() #length of string in each raw

0    46
1    99
2    49
3    55
Name: text, dtype: int64

In [6]:
df['text'].str.split().str.len()

0     7
1    15
2    10
3    11
Name: text, dtype: int64

<h3>Find Containing Word </h3>

In [7]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
Name: text, dtype: bool

<h3>How many times digit occurs</h3>

In [8]:
df['text'].str.count(r'\d')

0    3
1    7
2    4
3    8
Name: text, dtype: int64

<h3>Find all digits</h3>

In [10]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1       [1, 1, 3, 0, 7, 0, 0]
2                [1, 1, 1, 5]
3    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [20]:
df['text'].str.findall(r'(\d\d):(\d\d)')

0                      []
1              [(11, 30)]
2              [(11, 15)]
3    [(08, 10), (09, 00)]
Name: text, dtype: object

In [21]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1     [(11, 30), (7, 00)]
2              [(11, 15)]
3    [(08, 10), (09, 00)]
Name: text, dtype: object

# Replace

<h3>Replace the weekend by ????</h3>

In [24]:
df['text']

0       Monday: The doctor's appointment is at 2:45pm.
1    Tuesday: The dentist's appointment is at 11:30...
2    Thursday: Be back home by 11:15 pm at the latest.
3    Friday: Take the train at 08:10 am, arrive at ...
Name: text, dtype: object

In [28]:
df['text'].str.replace(r'\w+day\b', '????')

0         ????: The doctor's appointment is at 2:45pm.
1    ????: The dentist's appointment is at 11:30 am...
2        ????: Be back home by 11:15 pm at the latest.
3    ????: Take the train at 08:10 am, arrive at 09...
Name: text, dtype: object

In [31]:
lambda x : x.groups() [0][:3]

<h3>SLicing the word and replace</h3>

In [29]:
df['text'].str.replace(r'(\w+day\b)', lambda x : x.groups() [0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1    Tue: The dentist's appointment is at 11:30 am....
2         Thu: Be back home by 11:15 pm at the latest.
3    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

# Extract

In [33]:
df['text'].str.extract(r'(\d?\d):(\d\d)') #it will only extract the firsst numeric pattern only in each row

    0   1
0   2  45
1  11  30
2  11  15
3  08  10

<h2>Extract All including time am pm</h2>

In [36]:
df['text'].str.extract(r'((\d?\d):(\d\d) ?([ap]m))') #only for 1st time digit in a row

          0   1   2   3
0    2:45pm   2  45  pm
1  11:30 am  11  30  am
2  11:15 pm  11  15  pm
3  08:10 am  08  10  am

In [41]:
df['text'][3]

'Friday: Take the train at 08:10 am, arrive at 09:00 am.'

In [39]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?):(?P<minute>\d\d) ?(?P<period> [ap]m))')

            time hour minute period
  match
1 0      1:30 am    1     30     am
2 0      1:15 pm    1     15     pm
3 0      8:10 am    8     10     am
  1      9:00 am    9     00     am