# Summation

In [3]:
x=2
y=3
x+y

5

# Define Function

In [9]:
def add_numbers(x,y):
    return x+y
add_numbers(2,3)

5

# Use of None in Function

In [13]:
def add_numbers(x,y, z=None):
    if z==None:
        return x+y
    else:
        return x+y+z
print(add_numbers(2,3))
print(add_numbers(2,3,4))

5
9

In [1]:
def add_numbers(a,b, z='add'):
    if (z=='add'):
        return a+b
    else:
        return a-b
print(add_numbers(3,2))
print(add_numbers(5,2, z=None))

5
3

In [22]:
def add_numbers(x,y,z=None, flag=False):
    if (flag):
        print('flag is true')
    if (z==None):
        return x-y
    else:
        return x+y+z
print(add_numbers(3,2))
print(add_numbers(3,2,3))
print(add_numbers(4,5,1,flag=True))

1
8
flag is true
10

# Types and Sequences

In [24]:
type("I am fine")

str

In [26]:
type(None)

NoneType

In [28]:
type(add_numbers)

function

In [30]:
type(123)

int

In [32]:
type(1.25)

float

# Tuple

Tuple is a sequence of variable and it's immutable. Items in ordering can't be changed and use as parenthasis

In [33]:
x = (1,'a', 3, 'b')
type(x)

tuple

# List

We use square bracket as a list. List is mutable. We can add, drop items from the list in multiple way

In [35]:
x=[1, 'a', 2, 'b']
type(x)

list

Append

In [36]:
x.append(3.3)
x

[1, 'a', 2, 'b', 3.3]

Using for in list

In [39]:
for item in x:
    print(item)

1
a
2
b
3.3

Using while in list

i = 0
while( i != len(x) ):
    print(x(i))
    i =i + 1

Concat two list

In [49]:
[1,2] + [3,4]

[1, 2, 3, 4]

Repeating same value in a list

In [52]:
[1] * 3

[1, 1, 1]

in operator

In [53]:
1 in [1,2, 40]

True

# Indexing

indexing always begins with 0. Index is also assinged index for spacing in between words

In [57]:
x = 'This is an unbeleivable world of coding'
print(x[0])
print(x[0:7])
print(x[0:8])

T
This is
This is

In [64]:
print(x[-4:-1])
print(x[-1])
print(x[-7: -1])

din
g
 codin

In [66]:
print(x[:3])
print(x[3:])

Thi
s is an unbeleivable world of coding

In [71]:
x = 'Dr. Christopher Brooks'

print(x[4:15])

Christopher

Concat Strings

In [78]:
firstname = "Alex"
lastname = "Holder"
print(firstname + ' ' + lastname)
print(firstname * 3) #repaeating 3 times
print('ex' in firstname) #to check the presence using in operator

Alex Holder
AlexAlexAlex
True

Splitting

Splitting with a define format and pick the respective words/word

In [79]:
firstname = "Alex Wales Jasen Holder".split(' ')[0]
lastname = "Alex Wales Jasen Holder".split(' ')[-1]
print(firstname, lastname)

Alex Holder

# Dictionary

works as key value pair. Here, we assign para value for each key separating colon

In [85]:
x = {"Alex": "Football", "John": "Cricket", "Jenny": "Tenis"}
x['Alex']

'Football'

Adding new key item in dictionary

In [87]:
x['Adam']= None
x

{'Alex': 'Football', 'John': 'Cricket', 'Jenny': 'Tenis', 'Adam': None}

calling key only

In [88]:
for name in x:
    print(name)

Alex
John
Jenny
Adam

calling values only

In [89]:
for value in x.values():
    print(value)

Football
Cricket
Tenis
None

## To call key and values togather using 'items'

In [97]:
for name, value in x.items():
    print(name, value)
    print(name)
    print(value)
    print('-------------------')

Alex Football
Alex
Football
-------------------
John Cricket
John
Cricket
-------------------
Jenny Tenis
Jenny
Tenis
-------------------
Adam None
Adam
None
-------------------

# Pack and Unpack
in python, we have sequence. List and Tuple value. we can unpacking those item through varable using assignment operators

In [99]:
x = ('Alex', 'Holder', 'football')
fname, lname, play = x
fname

'Alex'

In [100]:
x = ('Alex', 'Holder', 'Football', 'John')
fname, lname, play = x

ValueError: too many values to unpack (expected 3)

# String

string is unicode based. Unicode supports millions different characters in different languages

Concat string

In [103]:
x = 'alex' + 2

TypeError: can only concatenate str (not "int") to str

In [106]:
x = 'Alex' + 's'
x

'Alexs'

In [108]:
x = 'Alex' + str(2) # need to use str operator for numeric number
x

'Alex2'

## String formatting with dictionary

we have sales dictionary. we write a string statement with curely/second brucket to include the item of dictionary using formatting

In [109]:
sale_dict = { 'price':10000,
             'no_item': 2,
             'name': 'Alex'
             }
sale_statement = '{} bought {} items at a price {} each item with the total {}'

print(sale_statement.format(sale_dict['name'],
                           sale_dict['no_item'],
                           sale_dict['price'],
                           sale_dict['price'] * sale_dict['no_item']))

Alex bought 2 items at a price 10000 each item with the total 20000

# Data Files and Summary Statistics

In [24]:
import csv
%precision 2 #float magic

#open csv file
with open('mpg-Copy1.csv') as csvfile:
    mpg =list(csv.DictReader(csvfile)) #make a dictionary within a list
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [26]:
len(mpg)

234

In [27]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Find sum of cty column

In [38]:
sum(float(d['cty']) for d in mpg)

3945.0

Find avg of city column

In [40]:
sum(float(d['cty']) for d in mpg)/len(mpg)

16.858974358974358

Find avg of hwy column

In [42]:
sum(float(d['hwy'])for d in mpg)/len(mpg)

23.44017094017094

Find unique labels of cyl column

In [46]:
cylinder = set(d['cyl'] for d in mpg)
cylinder

{'4', '5', '6', '8'}

# Sorting and Lambda

find different cty mpg for different size of cylinders

In [64]:
ctympgByCyl =[]

for c in cylinder: #iteration over all cylinder
    sum = 0
    cylTypeCount = 0
    for d in mpg:
        if d['cyl'] == c:
            sum += float(d['cty'])
            cylTypeCount +=1
            
    ctympgByCyl.append((c, sum/cylTypeCount)) #double tuple for 2 arguments and avg mpg
print(ctympgByCyl) 

ctympgByCyl.sort(key = lambda x:x[0]) #sort all value accending order

print(ctympgByCyl)

[('5', 20.5), ('6', 16.21518987341772), ('8', 12.571428571428571), ('4', 21.012345679012345)]
[('4', 21.012345679012345), ('5', 20.5), ('6', 16.21518987341772), ('8', 12.571428571428571)]

find different highway mpg based on different vehicles

In [69]:
vehicleClass = set(d['class'] for d in mpg)
vehicleClass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [75]:
highwayVehicleClass=[]

for v in vehicleClass: #iteration over all vehicleClass
    sum = 0
    vehicleCount=0
    for d in mpg:
        if d['class'] == v:
            sum += float(d['hwy'])
            vehicleCount += 1
    highwayVehicleClass.append((v, sum/vehicleCount)) #double tuple for 2 arguments and avg mpg
print(highwayVehicleClass)

highwayVehicleClass.sort(key = lambda x:x[0])
print('------------------------------------------------------------------------------------')
print(highwayVehicleClass)

[('midsize', 27.29268292682927), ('compact', 28.29787234042553), ('minivan', 22.363636363636363), ('subcompact', 28.142857142857142), ('pickup', 16.87878787878788), ('suv', 18.129032258064516), ('2seater', 24.8)]
------------------------------------------------------------------------------------
[('2seater', 24.8), ('compact', 28.29787234042553), ('midsize', 27.29268292682927), ('minivan', 22.363636363636363), ('pickup', 16.87878787878788), ('subcompact', 28.142857142857142), ('suv', 18.129032258064516)]

# Date and Times

In [78]:
import datetime as dt
import time as tm

In [80]:
tm.time()

1664971726.7593913

In [83]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2022, 10, 5, 12, 9, 34, 469848)

In [90]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2022, 10, 5, 12, 9, 34)

In [93]:
delta = dt.timedelta(days=100)
delta

datetime.timedelta(days=100)

In [100]:
today = dt.date.today()

To find the date of 100 days ago based on today's date

In [101]:
today-delta

datetime.date(2022, 6, 27)

In [103]:
today > today - delta

True

# Objects and Class and Map

a class name starts with capital letter. To see the details of value, we need define object. **Object** doesn't have any private and protected number. We don't need any explicit constructor in python. We can use **`__init__`** in python.

In [2]:
class Person:
    department = 'school of information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [14]:
person = Person()
person.set_name("Alex")
person.set_location("England")

print('{} is living in {} and this is collected from his {}. He is best in {}.'
                                            .format(person.name, person.location, person.department, person.location))

Alex is living in England and this is collected from his school of information. He is best in England.

# Map

**Map** function is a function programing in python. map(function, iterablePara1, iterable_para2). Iterable parameters work parallel. All the iterable parameters are passed together **through function** and unpack. Iterable stops when the shortest iterable has exhausted.  

**Map** will return value against map object and will not run the function. It is commonly use in **Big Data**. **Map** has very efficient memory management

In [13]:
a1 = [10, 11.9, 9.7, 9.67]
b1 = [3, 4, 7, 8]
minimum = map(min, a1, b1)
print(minimum)

<map object at 0x7f284c1c5550>

# Split and Map

In a **list**, index count in between space of each word. And **COMA** separates the each individual.

In [22]:
people = ["Engr Micheal Holder", "Dr. Pop Maculas", "Dr. Jera Malcom"]
def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[2]
    return '{} {}'.format(title, lastname)
list(map(split_title_and_name, people))

['Engr Holder', 'Dr. Maculas', 'Dr. Malcom']

# Lambda
**Lambda** is one line expression. **`lambda variable-01, variable-02, variable-03 : variable-01 + variable-02`**. It is useful for Data Cleaning Task. It is not as powerful as **`for`**

In [27]:
my_function = lambda a, b, c : a + b
my_function(2,3,1)

5

In [26]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

# List Comprehension

Build function of python. Represents as [ ]

In [35]:
my_list =[]
for i in range(0,10):
    if i%2 == 0:
        my_list.append(i)
my_list

[0, 2, 4, 6, 8]

**Make list comprehension with a single line** 

Just like lambda, list comprehension has a condensed format which performs faster and better readabilityble

[output function/equation/variable  "for loop"  "condition if any]

In [39]:
my_list = [i for i in range(0, 15) if i%2 == 0 ]
my_list

[0, 2, 4, 6, 8, 10, 12, 14]

In [53]:
def time_table():
    lst = []
    for i in range(3):
        for j in range(3):
            lst.append(i*j)
    return lst

In [54]:
time_table()

[0, 0, 0, 0, 1, 2, 0, 2, 4]

In [56]:
my_list = [i*j for i in range(3) for j in range(3)]
my_list

[0, 0, 0, 0, 1, 2, 0, 2, 4]

In [64]:
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']